.hero__list {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  list-style-type: none;
}

.hero__item {
  padding: 20px;
  font-size: 40px;
}

.hero__link {
  color: #FFCC00;
  text-decoration: none;
}